*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightslategray;
}

.content {
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 204, 187);
}

.textUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 900px;
  margin: 20px;
}

.downBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.divs {
  display: flex;
  flex: 1;
}

.divs2 {
  display: flex;
  flex: 1;
  border: 0.5px solid black;
}

button {
  width: auto;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(48, 45, 45);
}

button:hover {
  cursor: pointer;
  background-color: darkred;
  color: white;
  transition: all 0.3s ease-in-out;
}
